[Unit]
Description=Uptime reporting service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=mingjie
WorkingDirectory=/home/mingjie
ExecStart=/home/pi/lab/online.sh

[Install]
WantedBy=multi-user.target